#user ul {
    position: static;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  #user ul li {
    float: left;
  }
  
  #user ul li .hpg {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  #user ul li .hpg:hover {
    background-color: #c52626;
  }

#right{
    margin-left: 500px;
}
#right li{
    color: brown;
}
#buu{
margin-left: 600px;
}
